* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: cursive;
  background-color: aqua;
}

.check {
  margin: 200px auto;
  width: 450px;
  padding: 20px;
  background-color: azure;
}

.check__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.check__item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
}


.span{
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius:50%;
}

.item3{
    opacity: 0.5;
}

#sport1:checked ~ .span{
    background-image: url(/img/hockey.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: calc(50%);
}

#sport:checked ~ .span{
    background-image: url(/img/soccer_ball.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: calc(50%);
}

#sport2:checked ~ .span{
    background-image: url(/img/Volleyball.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: calc(50%);
}

#sport3:checked ~ .span{
    background-image: url(/img/tennis.svg);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: calc(50%);
}

.check_1{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.check__btn{
    padding: 10px 45px;
    background-color:teal;
    border:1px solid transparent;
    color:#fff;
    border-radius:  8px;
    position: relative;
    overflow: hidden;
    

    &::before{
        content:"";
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:orange;
        border:1px solid transparent;
        border-radius:  8px;
        left: -150%;
        bottom: -1px;
        transition:  left 0.3s;
    }


    &:hover::before{
        left:0;
        
    }

    &__3{
        position: relative;
        z-index:3;
    }
}


